<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='images/NextFlow_Logo_blanco.png') }}">
    <title>Panel Profesional - NEXTFLOW</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panel_profesionales.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div class="profesional-container">
        <h1>Bienvenido al Panel Profesional</h1>
        <ul>
            <li>
                <!-- Botón para ver los turnos -->
                <a href="{{ url_for('main.gestionar_turnos') }}">
                    <i class="fas fa-calendar-check"></i>
                    Ver Turnos
                </a>
            </li>
            <li>
                <!-- Botón para atender a un paciente -->
                <a href="{{ url_for('main.atender_paciente') }}">
                    <i class="fas fa-user-md"></i>
                    Atender Paciente
                </a>
            </li>
            <li>
                <!-- Botón para cerrar sesión -->
                <a href="{{ url_for('main.logout') }}">
                    <i class="fas fa-sign-out-alt"></i>
                    Cerrar sesión
                </a>
            </li>
        </ul>
    </div>
</body>
</html>
